* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(45deg, cyan, yellow);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: none;
    box-shadow: .25rem .25rem .75rem gray;
    padding: 1rem;
    background-color: black;
    gap: .5rem;
    max-width: 40vw;
    font-weight: 900;
    font-size: 1.5rem;
}

.screen {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: inherit;
    color: white;
}

.buttons {
    display: grid;
    gap: inherit;
}

button {
    cursor: pointer;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-weight: inherit;
    font-size: inherit;
    background-color: lightgray;
}

button:hover {
    opacity: 90%;
}

.operators>button {
    text-transform: uppercase;
    background-color: orange;
}